@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@keyframes emoji-pop {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.animate-emoji-pop {
  animation: emoji-pop 700ms ease-out forwards;
} */
